
    {% extends '1.html' %} 

    {% block title %}
            ||About US||
          {% endblock title %}

    {% block body %}


<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/components/abouts/about-4/assets/css/about-4.css">

</head>
<body>

   
<!-- About 4 - Bootstrap Brain Component -->
<section class="py-3 py-md-5 py-xl-8">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 col-lg-8">
          <h3 class="fs-5 mb-2 text-secondary text-uppercase">About</h3>
          <h2 class="display-5 mb-4">Welcome to Fitworld, your ultimate destination for comprehensive diet and workout training classes designed to transform lives and foster a healthier, more active lifestyle.</h2>
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row gy-3 gy-md-4 gy-lg-0">
        <div class="col-12 col-lg-6">
          <div class="card bg-light p-3 m-0">
            <div class="row gy-3 gy-md-0 align-items-md-center">
              <div class="col-md-5">
                <img src="../static/img/about why.jpg" class="img-fluid rounded-start" alt="Why Choose Us?">
              </div>
              <div class="col-md-7">
                <div class="card-body p-0">
                  <h2 class="card-title h4 mb-3">Why Choose Us?</h2>
                  <p class="card-text lead">While both diet and exercise are important for weight loss, it’s generally easier to manage your calorie intake by modifying your diet than it is to burn significantly more calories through exercise.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="card bg-light p-3 m-0">
            <div class="row gy-3 gy-md-0 align-items-md-center">
              <div class="col-md-5">
                <img src="../static/img/about vision.jpg" class="img-fluid rounded-start" alt="Visionary Team">
              </div>
              <div class="col-md-7">
                <div class="card-body p-0">
                  <h2 class="card-title h4 mb-3">Visionary Team</h2>
                  <p class="card-text lead">We offer a range of services, including group fitness classes, one-on-one training sessions, nutritional counseling, and wellness workshops. Whether your goal is weight loss, muscle gain, or overall well-being, we have the expertise and resources to guide you on your path to success</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


    {% endblock body %}
</body>
</html>
