body {
  background-image: url(../img/lnd.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: rgba(0, 0, 0, 0.573);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 14px 44px 48px #464141;
  width: 25vw;
  height: 50vh;
  text-align: center;
  margin-right: 120px;
}

h2 {
  font-size: 55px;
  font-weight: bolder;
  color: white;
  margin-top: 20px;
  margin-bottom: 60px;
  text-align: center;
  -webkit-text-stroke-color: red;
  -webkit-text-stroke-width: 2px;
  font-family: "Fasthand", cursive;
  font-family: "Poppins", sans-serif;
}

.login-container label {
  font-size: 28px;
  font-weight: bold;
  color: white;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  -webkit-text-stroke-width: 1.3px;
  font-family: "Fasthand", cursive;
  font-family: "Poppins", sans-serif;
  margin-right: 10px;
}

input {
  width: 50%;
  height: 4.7vh;
  margin-bottom: 25px;
  box-sizing: border-box;
}

button {
  background-color: red;
  color: white;
  font-size: 27px;
  width: 10vw;
  height: 5.5vh;
  margin: auto;
  border: 2px solid black;
  border-radius: 4px;
  margin-top: 25px;
}

button:hover {
  background-color: rgb(180, 57, 57);
  font-size: 29px;
}

@media (max-width: 1400px) and (min-width: 880px) {
  .login-container {
    width: 400px;
    margin: 0 auto;
  }

  .submit {
    width: 200px;
  }
}

@media (max-width: 880px) {
  .login-container {
    width: 400px;
    margin: 0 auto;
  }

  .submit {
    width: 200px;
  }
}
